#services {
  background-color: #fcf8f2;
}

.accordion-button{
  font-size: x-large;
}

.accordion-button:not(.collapsed){
  color: #000000;
  background-color: #ffffff
}

.a-custom{
  color: #ff8562
}


#navbarSupportedContent{
  background-color: #ffffff;
}

.nav-link{
  color: #000 !important
}


/******************** BLOG *************************/

.navbar__link:hover, .navbar__link--active {
  color: #000 !important;
}

/* 
TODO: Уменьшить ширину левого меню на 20%
.sidebar_node_modules-@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module {
  width: 300px
}
 */

#__docusaurus article header {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module{
  display: none !important;
}